<!-- $Id$ -->

<!--
     $Log$
     Revision 1.15  2003/08/20 08:43:16  stefan
     Automatic submit when selecting in quicklist. Wider layout.

     Revision 1.14  2003/02/28 13:33:31  stefan
     Added link to start page when clicking on logo.

     Revision 1.13  2003/02/28 13:13:34  stefan
     Add webmaster link.

     Revision 1.12  2003/02/27 09:19:25  stefan
     Changed icon.

     Revision 1.11  2003/02/25 09:05:10  stefan
     Added 'admin' view.

     Revision 1.10  2003/02/24 07:54:05  stefan
     Added 'actionlist' view. Minor bugfixes and changes in other views.

     Revision 1.9  2002/12/12 20:45:56  stefan
     Added link to plan view.

     Revision 1.8  2002/12/08 19:32:50  stefan
     Link to approve view.

     Revision 1.7  2002/11/15 10:57:24  stefan
     Updates

     Revision 1.6  2002/11/06 21:02:20  stefan
     Added link to reqedit view.

-->

<table>
<tr>
<td class="sidebar" height="600" align="center" width="130">
<a href="?view=start">
<img align="center" src="images/csclogo-white.gif" border="0">
</a>
<table>
<tr>
<td class="sidebar">
<!-- tmpl_if name=logged_in -->

<strong><!-- tmpl_var name=sessionname --></strong><br>
<!-- tmpl_var name=sessionip --><br><br>

<a class="sidebar" href="?view=list">Lista</a><br>
<a class="sidebar" href="?view=recent">Senaste</a><br>
<a class="sidebar" href="?view=servedit">Ny server</a><br>
<br>
<a class="sidebar" href="?view=reqlist">Ändringsbegäran</a><br>
<a class="sidebar" href="?view=reqedit">Ny ändringsbegäran</a><br>
<br>
<a class="sidebar" href="?view=plan">Planera</a><br>
<a class="sidebar" href="?view=reqapprove">Godkänn</a><br>
<a class="sidebar" href="?view=actionlist">Åtgärdslista</a><br>
<br>
<a class="sidebar" href="?view=admin">Admin</a><br>
<br>
<a class="sidebar" href="?view=logout">Logga ut</a><br>
<br>

<form action="" method="post" name="sidebar">
<table border="0" align="center">
<tr>
<td>
<select name="ID" onchange="sidebar.submit()">
<!-- tmpl_loop name=quicklist -->
<!-- tmpl_if name=selected -->
<option value="<tmpl_var name=id>" selected><!-- tmpl_var name=name --></option>
<!-- tmpl_else -->
<option value="<tmpl_var name=id>"><!-- tmpl_var name=name --></option>
<!-- /tmpl_if -->
<!-- /tmpl_loop -->
</select>
</td>
</tr>
<tr>
<td>
<input type="hidden" name="view" value="showlog">
<input type="submit" name="gurgel" value="Visa">
</td>
</tr>
</table>
</form>

<!-- tmpl_else -->
<a class="sidebar" href="?view=login">Logga in</a>
<!-- /tmpl_if -->

<br><br>
Webmaster:
<a class="sidebar" href="mailto:stefan@raggmunk.nu">stefan@raggmunk.nu</a>

</td>
</tr>
</table>
</td>
<td valign="top" width="900">

<!-- $Id$ -->
