/* $Id$ */

body {
  font-family : garamond, times, times new roman, serif;
  background : white;
}
td,th,input {
  font-family : microsoft sans serif, sans-serif;
  font-size : 8pt;
  text-align : left;
  vertical-align : top;
}
