/* $Id$
 *
 * $Log$
 * Revision 1.6  2003/02/24 07:53:48  stefan
 * Modified stylesheet for actionlist view. Added clean stylesheet for printer
 * friendly pages.
 *
 * Revision 1.5  2003/01/23 14:19:09  stefan
 * Some more changes.
 *
 * Revision 1.4  2002/12/12 16:32:17  stefan
 * Some changes.
 *
 * Revision 1.3  2002/11/04 20:30:06  stefan
 * Fixed view 'edit'.
 *
 * Revision 1.2  2002/11/03 19:21:06  stefan
 * Fixed 'showhistory' view.
 *
 * Revision 1.1  2002/11/03 18:51:55  stefan
 * A simple stylesheet.
 *
 */

body {
	background: white;
}
h1,h2,h3 {
	font-family: sans-serif;
}
.errmsg, .error {
	font-family: sans-serif;
	color: #cc0000;
	font-weight: bold;
}
th {
	text-align: left;
}
th.list, td.list, td.form, th.form, th.history, td.history {
	text-align: left;
	font-family: sans-serif;
	font-size: 8pt;
}
th.list, td.list, th.history, td.history {
	vertical-align: top;
}
th.history {
	background: #dddddd;
}
p.historyheader {
	font-size: 8pt;
	font-family: sans-serif;
	font-weight: bold;
	margin-bottom: 0;
}
p.history {
	font-size: 8pt;
	margin-top: 0;
}
td.sidebar {
	background: #cc0000;
	color: white;
	vertical-align: top;
	font-family: sans-serif;
	font-size: 8pt;
}
a.sidebar, a.sidebar:visited {
	color: #ffffff;
	text-decoration: underline;
}
:link, :visited {
	color: black;
	text-decoration: underline;
}
td.menu {
	font-family: sans-serif;
	font-size: 8pt;
}

/* ActionList stuff */
td.actionlist_header {
	font-family: sans-serif;
	font-size: 14pt;
	font-weight: bold;
/*	background-color: #dddddd;*/
}
th.actionlist, td.actionlist {
	font-family: serif;
	font-size: 10pt;
	vertical-align: top;
/*	background-color: #dddddd;*/
}
th.actionlist {
	font-weight: bold;
}
p.actionlist {
	font-family: serif;
	font-size: 12pt;
}
