/* $Id$ */

body {
	background: white;
}
h1,h2,h3 {
	font-family: sans-serif;
	color: brown;
}
p {
	font-family: sans-serif;
	font-size: 10pt;
}
td, th, td.number, td.cal, td.today, td.empty {
	font-family: sans-serif;
	font-size: 10pt;
	vertical-align: top
}
td.number {
	text-align: right;
}
td.cal,td.today {
	font-size: 8pt;
}
td.today {
	background-color: #ffffdd;
}
td.empty {
	background-color: #dddddd;
}
th {
	font-weight: bold;
	text-align: left;
}
th.big {
	text-align: center;
}
p.title {
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: yellow;
	text-align: center;
}
td.sidebar {
	background: darkcyan;
	vertical-align: top;
	padding: 10px;
}
td.content {
	vertical-align: top;
	padding: 10px;
}
.menu {
	color: yellow;
	font-family: sans-serif;
	font-size: 8pt;
}
