<!-- $Id$ -->
    </td>
  </tr>
  <tr>
    <td colspan="2" class="menu" align="center">
      &copy;Copyright 2002 Föreningen Kristnet (<a
      href="http://www.kristnet.org/">http://www.kristnet.org/</a>)
    </td>
  </tr>
</table>
<!-- $Id$ -->

