/* $Id$ */
h1,h2 { color: blue }
th {
    font-family: sans-serif;
    font-size: 10pt;
}
td {
    font-family: sans-serif;
    font-size: 10pt;
}
th.acct {
    text-align: left;
}
td.value,td.total,td.negvalue,td.negtotal {
    text-align: right;
}
td.negvalue,td.negtotal {
    color : red;
}
td.total,td.negtotal {
    font-weight: bold;
}
td.acct {
    font-weight: bold;
    font-size: 12pt;
    text-align: left;
}
td.actual,td.actualtotals {
    font-size: 12pt;
}
td.actualtotals {
    font-weight: bold;
}
td.budget,td.budgettotals,td.diff,td.negdiff,td.difftotals,td.negdifftotals {
    font-size: 6pt;
/*    color: grey;*/
    background-color: #dddddd;
}
td.negdiff,td.negdifftotals {
    color: red;
}
p.menu {
    font-family: sans-serif;
    font-size: 8pt;
}