<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!-- $Id$ -->
<html>
<head>
<meta name="generator" content=
"HTML Tidy for Linux/x86 (vers 1st January 2002), see www.w3.org">
<title>Träningskalendern</title>
<link rel="stylesheet" href="traning.css" type="text/css">
</head>
<body>
<!-- tmpl_include header.tmpl -->
<h1>Aktuell ställning</h1>

<h2>Veckans vinnare</h2>

<form action="." type="post">
<p>År: <input type="text" name="year" value=
"<tmpl_var name=year>" size="4"> Vecka: <input type="text"
name="week" value="<tmpl_var name=week>" size="2"> <input
type="submit" name="show" value="Visa"></p>

<input type="hidden" name="rm" value="toplist"></form>

<table border="0">
<tr>
<th>&nbsp;</th>
<th>Namn</th>
<th>Timmar</th>
</tr>

<!-- tmpl_loop name=weekwinner -->
<tr>
<td class="number"><strong>
<!-- tmpl_var name=__counter__ -->.</strong></td>
<td><a href="?rm=stats&amp;uid=<tmpl_var name=id>">
<!-- tmpl_var name=fullname --></a></td>
<td class="number"><!-- tmpl_var name=duration -->&nbsp;</td>
</tr>

<!-- /tmpl_loop -->
</table>

<h2>Totalt (träningstimmar senaste halvåret)</h2>

<table border="0">
<tr>
<th>&nbsp;</th>
<th>Namn</th>
<th>Genomsnitt</th>
<th>Totalt</th>
</tr>

<!-- tmpl_loop name=toplist -->
<tr>
<td class="number"><strong>
<!-- tmpl_var name=__counter__ -->.</strong></td>
<td><a href="?rm=stats&amp;uid=<tmpl_var name=id>">
<!-- tmpl_var name=fullname --></a></td>
<td class="number"><!-- tmpl_var name=average -->&nbsp;</td>
<td class="number">
<!-- tmpl_var name=duration_totals -->&nbsp;</td>
</tr>

<!-- /tmpl_loop -->
</table>

<!-- tmpl_include name=footer.tmpl -->
</body>
</html>

