<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!-- $Id$ -->
<html>
<head>
<meta name="generator" content=
"HTML Tidy for Linux/x86 (vers 1st January 2002), see www.w3.org">
<title>Träningskalendern</title>
<link rel="stylesheet" href="traning.css" type="text/css">
</head>
<body>
<!-- tmpl_include name=header.tmpl -->
<h1>Vikt</h1>

<form action="index.cgi" method="post">
<table border="0">
<tr>
<th>Datum:</th>
<td><input type="text" name="date" value=
"<tmpl_var name=date>" size="10"></td>
</tr>

<tr>
<th>Tid:</th>
<td><input type="text" name="time" value=
"<tmpl_var name=time>" size="8"></td>
</tr>

<tr>
<th>Vikt (kg):</th>
<td><input type="text" name="weight" size="10" value=
"<tmpl_var name=weight>"></td>
</tr>

<tr>
<th>Kommentar:</th>
<td><input type="text" name="comment" value=
"<tmpl_var name=comment>"></td>
</tr>

<tr>
<td colspan="2"><input type="submit" name="save" value="Spara"> 
<!-- tmpl_if name=id -->
<input type="submit" name="delete" value="Radera"> 
<!-- /tmpl_if -->
<input type="submit" name="cancel" value="Avbryt"></td>
</tr>
</table>

<input type="hidden" name="uid" value="<tmpl_var name=uid>">
<input type="hidden" name="id" value="<tmpl_var name=id>">
<input type="hidden" name="rm" value="weightedit"></form>

<!-- tmpl_include name=footer.tmpl -->
</body>
</html>

