/* $Id$ */

body {
/*  background : #fddfd4; */
  background : #fae5d4;
}
:link {
  color : #7a5054;
  text-decoration : none;
}
:visited {
  color : #613a35;
  text-decoration : none;
}
h1,h2,h3,h4,h5,h6 {
  font-family : century gothic, avantgarde, sans-serif;
}
h1 {
  text-align : center;
  font-size : 12pt;
  margin-top : 0.5em;
  margin-bottom : 0.5em;
  color :  #fae5d4;
}
h2 {
  font-size : 18pt;
}
h3 {
  font-size : 14pt;
  margin-bottom : 0em;
}
td.frame {
  vertical-align : top;
  background : #df7f32;
}
td.diary {
  vertical-align : top;
  padding-left : 10px;
  padding-top : 10px;
}
p {
  font-family : garamond, times, times new roman, serif;
}
.menu {
  font-family : microsoft sans serif, sans-serif;
  font-size : 8pt;
}
.menu_calendar_month {
  font-family : microsoft sans serif, sans-serif;
  font-size : 6pt;
  fontweight : bold;
  text-align : center;
}
.menu_calendar_day, .menu_calendar_selected {
  font-family : microsoft sans serif, sans-serif;
  font-size : 6pt;
}
.menu_calendar_selected {
  border : solid black 1pt;
  font-weight : bold;
}
.date-comment {
  font-family : "new century schoolbook", garamond, times, serif;
  font-size : 12pt;
  font-style : italic;
  margin-top : 0em;
}
.verify {
  font-family : microsoft sans serif, sans-serif;
  font-size : 12pt;
  font-weight : bold;
}
.error {
  font-family : microsoft sans serif, sans-serif;
  font-size : 12pt;
  color : red;
  background : #d0d0d0;
  border : none;
  padding : 0.5em;
}
.diary-header {
  font-family : century gothic, avantgarde, sans-serif;
  font-size : 10pt;
  font-weight : bold;
  margin-bottom : 0em;
}
.diary {
  font-family : "new century schoolbook", garamond, times, serif;
  font-size : 12pt;
  margin-top : 0.5em;
  margin-bottom : 0.2em;
}
.image-comment {
  font-family : "new century schoolbook", garamond, times, serif;
  font-size : 10pt;
  margin-top : 0.2em;
  margin-bottom : 1em;
  font-style : italic;
}
.info {
  font-family : microsoft sans serif, sans-serif;
  font-size : 6pt;
  margin-top : 0.1em;
}
.mail-header {
  font-family : century gothic, avantgarde, sans-serif;
  font-size : 10pt;
  font-weight : bold;
  margin-bottom : 0em;
}
.mail-body {
  font-family : monospace;
  font-size : 10pt;
}
.sms-header {
  font-family : microsoft sans serif, sans-serif;
  font-weight : bold;
  font-size : 10pt;
  margin-bottom : 0em;
  margin-top : 0.5em;
}
.sms-message {
  font-family : microsoft sans serif, sans-serif;
  font-size : 10pt;
  margin-bottom : 0.1em;
  margin-top : 0em;
}
.sms-comment {
  font-family : sans-serif;
  font-size : 10pt;
  font-style : italic;
  margin-bottom : 0.1em;
  margin-top : 0;
}
.icq-message {
  font-family : microsoft sans serif, sans-serif;
  font-size : 10pt;
  margin-top : 0em;
  margin-bottom : 0.3em;
/*  margin-left : 19px; */
}
.icq-header {
  font-family : microsoft sans serif, sans-serif;
  font-weight : bold;
  font-size : 10pt;
  margin-bottom : 0em;
  margin-top : 0.5em;
}
.calendar_header {
  font-family : century gothic, avantgarde, sans-serif;
  text-align : center;
  font-size : 14pt;
  font-weight : bold;
}
.calendar_weekday {
  font-family : microsoft sans serif, sans-serif;
  font-size : 8pt;
  text-align : center;
}
.calendar_day, .calendar_selected {
  font-family : "new century schoolbook", garamond, times, serif;
  font-size : 8pt;
  vertical-align : top;
}
.calendar_selected {
  background-color : #e3cbb3;
}
.calendar_daynumber {
  font-family : microsoft sans serif, sans-serif;
  font-size : 10pt;
  font-weight : bold;
}
.calendar_icons {
  vertical-align : bottom;
  text-align : right;
}