<html>
<head>
<title>Music index</title>
<style type="text/css">
h1,h2,h3 {
    font-family: sans-serif;
}
.tiny {
    font-family: sans-serif;
    font-size: 8pt;
}
</style>
</head>
<body>
<h1>Music index</h1>

<p><!-- tmpl_var name=files --> files</p>

<!-- tmpl_loop name=artists -->
<h2><!-- tmpl_var name=name --></h2>
<ul>
<!-- tmpl_loop name=albums -->
<li><strong><a href="<tmpl_var name=dir>"><!-- tmpl_var name=name --></a></strong>
<!-- tmpl_if name=year -->
(<!-- tmpl_var name=year -->)
<!-- /tmpl_if -->
<br><span class="tiny">
<!-- tmpl_loop name=tracks -->
<strong><!-- tmpl_var name=tracknum -->.</strong>
<a href="<tmpl_var escape=html name=filename>"><!-- tmpl_var escape=html name=title --></a>
<!-- /tmpl_loop -->
<!-- /tmpl_loop -->
</span>
</ul>
<!-- /tmpl_loop -->

</body>
</html>
